@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
$font-family-sans-serif:'Kumbh Sans', sans-serif;
$theme-colors: (
        "primary": hsl(26, 100%, 55%),
        "danger": hsl(25, 100%, 94%),
        "info":hsl(220, 13%, 13%),
        "success":hsl(219, 9%, 45%),
        "warning":hsl(220, 14%, 75%),
        "light":hsl(223, 64%, 98%),
        "white":hsl(0, 0%, 100%),
        "dark":hsl(0, 0%, 0%)
);
//$navbar-dark-color:
$border-radius:15px;
@import "node_modules/bootstrap/scss/bootstrap";

p{
  font-size: 16px !important;
}
.navbar-brand{
  font-size: 26px !important;
}
.nav-shadow{
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.avatar-img{
  width: 45px ;
  height: 45px;
}
.spacer{
  height: 30px;
}

.img{
  background-image: url("images/image-product-4-thumbnail.jpg");
  background-size: 100%;
  transition: 0.5s;
}

.img:hover{
  background-color: red !important;
  z-index: 1001;
}

